body{
    font-family: 'Times New Roman', Times, serif;
    color:#fff;
}
#wrap{
    width:960px;
    margin:auto;
    background: #000;;
}
header nav ul{
    list-style:none;
}
header nav ul li{
    display:inline-block;
}