h1 ul li section article aside footer{
    font-family: 'Times New Roman', Times, serif;
    color:white;
}
#wrap{
    width:960px;
    margin:auto;
    background-color:black;
}
header nav ul li {
    list-style:none;
    display:inline-block;
}